@import "mixins";

body {
  background-color: $hackerNewsBackgroundColor;
  font-family: $hackerNewsFontFamily
}

.container {
  h1, .story {

    color: $hackerNewsColor;
  }

  .story {
    font-size: 80%;
    padding: .5em;
  }

  .story-actions {
    cursor: pointer;
  }

  .story-content {
    padding-left: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: 80%;
  }

  .story-footer {
    color: grey;
    font-size: 70%;
  }

  .terminal-input {
    font-family: $hackerNewsFontFamily;
    background-color: $hackerNewsBackgroundColor;
    color: $hackerNewsColor;
    border: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 255, 0, 0.6);

    &:focus {
      border: 0;
    }
  }
}