<div class="container">
    <h1>HackerNews</h1>
    <div class="form-group">
        <input class="form-control terminal-input" type="text" data-ng-model="main.query" placeholder="Search"/>
    </div>
    <hacker-news-posts-directive data-query="main.query"></hacker-news-posts-directive>
</div>
