<div class="story">
    <div class="story-title">
        <span class="story-actions">
            <i class="fa fa-caret-right fa-2x"
               data-ng-if="!story.showMore && story.text.length > 0"
               data-ng-click="story.showMore = !story.showMore"
            ></i>
            <i class="fa fa-caret-down fa-2x"
               data-ng-if="story.showMore && story.text.length > 0"
               data-ng-click="story.showMore = !story.showMore"
            ></i>
        </span>
        {{story.title}}
    </div>
    <div class="story-content" data-ng-if="story.text.length > 0 && story.showMore">
        <span data-ng-bind-html="story.text"></span>
    </div>
    <div class="story-footer">
        {{story.score}} points by {{story.by}}
        <span am-time-ago="story.time * 1000"></span>
    </div>
</div>